.vscode/**
.vscode-test/**
.github/**
changelogs/**
scripts/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
**/.DS_Store
add-on/config.json
media/html/lua-console.html
build.sh
install_plugin.sh
